libArcticWolf.so*
src/libArcticWolf.so*
libArcticWolf.dll*
src/libArcticWolf.dll*
libArcticWolf.dylib*
src/libArcticWolf.dylib*
CMakeCache.txt
CMakeFiles
cmake_install.cmake
install_manifest.txt
CPackConfig.cmake
CPackSourceConfig.cmake
include/ArcticWolf.hpp
ArcticWolf.pc
ArcticWolfConfig.cmake
ArcticWolfConfigVersion.cmake
ArcticWolfTargets.cmake
Makefile
Doxyfile
/docs
